modules = ["python-3.12"]
run = "python3 TicTacToeCLI.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 TicTacToeCLI.py"]

[workflows]

[[workflows.workflow]]
name = "Run"
author = 12810285

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python TicTacToeCLI.py"

[[ports]]
localPort = 8080
externalPort = 80
